.mainContent{
    flex: 1;
    border: 1px solid grey;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.image-item{
    object-fit: cover;
    height: 380px;
    width: 95%;
}