.sidebar{
    max-width: 30%;
    border: 1px solid grey;
    /*box-shadow: 6px 8px 5px -5px black;*/
    font-size: 16px;
}
label{
    display: block;
    margin-bottom: 30px;
}
select{
    display: block;
    margin-top: 5px;
}
input{
    display: block;
    margin-top: 5px;
}
form{
    padding: 20px;
}
#submit-btn{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.5s;
}
#submit-btn:hover{
    background: grey;
}
